.InputText {
    border-radius: 5px;
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.input--error {
    border: 2px solid red;
}

.input--success {
    border: 2px solid green;
}
